.mtf-container{
    width:100%;
    height:100%;
    overflow: hidden;
}
.mtf-container .mtf-content-container{
    padding:0 10%;
    width:100%;
    height:100%;
    position: relative;
    
    background-size: 100% 100%;
}

.mtf-container .mtf-content-container.Horizontal{
    background:#48DCB6;
}
.mtf-container .mtf-content-container.Vertical{
    background:#F9A817;
}

.mtf-container .mtf-content-container .mtf-header{
    width:100%;
    height:24%;
    overflow:hidden;
    max-height:80%;
    top:0;
    left:0;
    position: absolute;
    z-index: 1;
    font-size:15px;
    color:#283644;
    line-height: 119%;
}

.mtf-container .mtf-content-container .mtf-header .mtf-question-container{
    width:100%;
    top:0%;
    max-height:300%;
    min-height:100%;
    padding:2.2222% 10%;
    background:#FFFFFF;
    position: absolute;
    z-index: 2;
    overflow-y:scroll;
}

.mtf-container .mtf-content-container .mtf-header .mtf-question-container .mtf-question-text{
    position: relative;
    text-align: justify;
    height:12.345%;
    overflow: hidden;
    display:-webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}

.mtf-container .mtf-content-container .mtf-header .mtf-question-container .expand-button{
  /* Old removed
  position: absolute; 
  margin-top:10%; 
  z-index: 2;
  top:0%;
  right:2%;
*/  
  
  /* Added new */
  position: sticky;
  margin-left:100%; 
  cursor:pointer;
  background:#e3e3e3;
  border-radius: 9px;
  width:8.89%;
  height: 4.94%;
  text-align: center;
  /* display:none; */
}


.mtf-container .mtf-content-container .mtf-header .mtf-question-container .expand-button img{
    height: 4vh;
    margin-top:7%;
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

/* MTF LHS and RHS container styles */

.mtf-container .mtf-content-container .mtf-options-container-margin{
    height:24%;
    width:100%;
    opacity:0;
    display:hidden;
}

.mtf-container .mtf-content-container .mtf-options-container{
    height:76%;
    width:100%;
    padding:2.7% 0%;
    font-size:14px;
    display:table;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container{
    vertical-align: middle;
    display: table-cell;
    width:100%;
    height:100%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container{
    width:50%;
    float:left;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container .lhs-rhs-block {
    height:19%;
    width:100%;
    margin-bottom:0%;
    position: relative;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container .rhs-block:hover {
    cursor: move;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-container{
    margin-right:-1.37%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container .lhs-rhs-block img.background-image{
    width:100%;
}
.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container .lhs-rhs-block img.audio-image{
    top:35%;
    z-index: 0;
    cursor: pointer;
    position: absolute;
    height: 25%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container .lhs-block img.audio-image{
    left:2.5%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container .rhs-block img.audio-image{
    right:2.5%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container .lhs-rhs-block span.option-text{
    position: absolute;
    width:83%;
    padding:1%;
    top:0;
    bottom:0;
    margin:auto;
    display:inline-table;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container .lhs-block span.option-text{
    right:6.5%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-horizontal-container .lhs-rhs-container .rhs-block span.option-text{
    left:6.5%;
}

/* top to bottom layout implementation */
.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container {
    width:84.5%;
    margin:auto;
    height:100%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container.options-3{
    margin:0% 20%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container{
    height:50%;
    width:100%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .lhs-rhs-block{
    height:100%;
    width:23%;
    float:left;
    margin-right:1.5%;
    position: relative;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .lhs-rhs-block img.background-image{
    width:100%;
    height:89%;
    position: absolute;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .lhs-rhs-block img.option-image{
    max-width: 100%;
    max-height: 82%;
    border-radius: 4px;
    /* applies v-align middle and margin:auto */
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    position: absolute;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .lhs-rhs-block span{
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 8.64vh;
    font-weight: bold;
  }

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .lhs-rhs-block img.audio-image{
    width:22%;
    height: auto;
    position: absolute;
    opacity: 0.7;
    left:39%;
    cursor: pointer;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .lhs-block img.background-image{
    top:12%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .lhs-block img.audio-image{
    top:3%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .rhs-block img.background-image{
    bottom:12%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .rhs-block img.audio-image{
    bottom:6%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .lhs-block img.option-image{
    top:6.78%;
}

.mtf-container .mtf-content-container .mtf-options-container .mtf-options-vertical-container .lhs-rhs-container .rhs-block img.option-image{
    bottom:6%;
    cursor: move;
}

.flip {
    transform: rotate(-180deg);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.qc-popup-close-button {
    position: absolute;
    right: -35px;
    color: white;
    bottom: 87%;
}

#image-model-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

#image-model-popup .popup-overlay {
    opacity: 0.8;
}

#image-model-popup .popup-full-body {
    width: auto;
    margin: auto;
}

#image-model-popup .assess-popup {
    position: relative;
    width: fit-content;
    top: 0;
    left: 0;
    margin: auto;
}

#image-model-popup img.qc-question-fullimage {
    max-width: 60vw;
    max-height: 100%;
}

#image-model-popup .qc-popup-close-button {
    position: absolute;
    right: -15px;
    top: -20px;
    color: white;
    font-size: 20px;
}